// media screens
$mobile: "(max-width:576px)";
$tablet: "(max-width:992px)";
$notebook: "(max-width:1200px)";
$desktop: "(min-width:1200px)";


.cartoons {
    color: #ffff;
    .CartoonCard {
        background: transparent;
        cursor: pointer;
        border-radius: 20px;
        margin-bottom: 50px;
        .actions {
            margin-top: 10px;
            display: flex;
            float: right;
            button {
                font-size: small;
                margin-right: 15px;
            }
        }
    }
}
