@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    overflow-x: hidden;
}

// media screens
$mobile: "(max-width:576px)";
$tablet: "(max-width:992px)";
$notebook: "(max-width:1200px)";
$desktop: "(min-width:1200px)";

.navbar {
    background: #000;
    padding: 15px;
    .brand {
        color: #fff;
        .title {
            color: "#fff";
            font-size: 40px;
            font-weight: bold;
            font-family: "Rajdhani", sans-serif;
        }
        :hover {
            color: #fff;
        }
    }
    .navItems {
        display: flex;
    }
}

.Home {
    .slider {
        .slideImage {
            height: 360px;
            @media #{$mobile} {
                height: 250px;
            }
        }
    }
    .socialDiv {
        float: right;
        margin-right: 4px;
        margin-top: 30px;
        display: block;
        .socialIcon {
            font-size: 50px;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            color: #fff;
            background: #1f88ce;
            display: block;
            margin-bottom: 5px;
            @media #{$mobile} {
                font-size: 40px;
            }
        }
    }
    .content {
        margin-top: 30px;
        @media #{$mobile} {
            margin-top: 30px;
        }
        .search-div {
            justify-content: center;
            color: #fff;
            margin-bottom: 30px;
            margin-top: 36px;
            .search {
                padding: 10px;
                background: #2f3640;
                border-radius: 10px;
                display: flex;
                .searchInput {
                    padding: 20px;
                    border-radius: 10px;
                    color: #fff;
                    background: #2f3640;
                    border: none;
                }
                .searchBtn {
                    background: #fff;
                    color: #1f88ce;
                    border-radius: 10px;
                    margin-left: -20px;
                }
            }
        }
        h2 {
            font-family: "Montserrat", sans-serif;
            color: #fff;
            margin-top: 30px;
        }
        ::placeholder {
            color: #fff;
            font-size: large;
        }
    }
}

#blink {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    animation: blinker 0.6s linear infinite;
    color: lightgreen;
    font-weight: bold;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}
